@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;

400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap");

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */

.owl-carousel,
.owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: none;
}

.no-js .owl-carousel,
.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

.owl-carousel .animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.owl-height {
  -webkit-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.owl-carousel .owl-item .owl-lazy:not([src]),
.owl-carousel .owl-item .owl-lazy[src^=""] {
  max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.no-webp .owl-carousel .owl-video-play-icon{
  background: url(owl.video.play.png) no-repeat; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.1s ease;
  transition: -webkit-transform 0.1s ease;
  -o-transition: transform 0.1s ease;
  transition: transform 0.1s ease;
  transition: transform 0.1s ease, -webkit-transform 0.1s ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */

.owl-theme .owl-dots,
.owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav {
  margin-top: 10px;
}

.owl-theme .owl-nav [class*=owl-] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none;
}

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}

.header {
  height: 80px;
}

.header-nav {
  width: 1206px;
  margin: 0 auto;
}

.header-title {
  padding-top: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-title__logo {
  margin-right: 73px;
  width: 26px;
  height: 26px;
  background: #5e81fe;
  border-radius: 100%;
}

.header-title__menu {
  margin-right: 361px;
  width: 427px;
  display: grid;
  grid-template: repeat(1, 15px)/repeat(5, minmax(28px, auto));
  -webkit-column-gap: 42px;
     -moz-column-gap: 42px;
          column-gap: 42px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-title__menu_descr {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}

.header-title__menu_descr a {
  text-decoration: none;
  color: #697ca6;
  text-shadow: 0px 0px 5px #e6e6e6;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}

.header-title__menu_descr a:hover {
  color: #5e81fe;
  text-decoration: underline;
}

.header-title__social {
  margin-right: 44px;
  width: 162px;
  display: grid;
  grid-template: repeat(1, 17px)/repeat(4, minmax(16.51px, auto));
  -webkit-column-gap: 6.48px;
     -moz-column-gap: 6.48px;
          column-gap: 6.48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-title__social_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header-title__social_images img:hover {
  cursor: pointer;
}

.hum {
  display: none;
}

.humburger {
  height: 30px;
  width: 37px;
  position: absolute;
  top: 25px;
  right: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.humburger__devider {
  margin-left: auto;
  height: 6px;
  width: 32px;
  background: #5e81fe;
}

.humburger__devider-long {
  width: 37px;
  height: 6px;
  background: #5e81fe;
}

.hum-block {
  display: none;
  position: absolute;
  top: 0;
  right: 18px;
  height: 350px;
  width: 250px;
  background-color: rgba(94, 129, 254, 0.7);
  -webkit-box-shadow: 0 0 10px #5e81fe;
          box-shadow: 0 0 10px #5e81fe;
}

.hum-block__wrapper {
  padding: 25px 30px 9px 30px;
}

.hum-block__text {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.05em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hum-block__text a {
  text-decoration: none;
  color: #697ca6;
  text-shadow: 0px 0px 5px #e6e6e6;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}

.hum-block__text a:hover {
  color: #5e81fe;
  text-decoration: underline;
}

.hum-block__btn {
  width: 180px;
  height: 55px;
  display: block;
  margin: 0 auto;
  background: #d2e1ff;
  border-radius: 5px;
  border: 1px solid #5e81fe;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

.hum-block__btn span {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  color: #3a79ff;
}

.hum-close {
  display: none;
  position: absolute;
  top: 21px;
  right: 23px;
  height: 40px;
  width: 40px;
}

.hum-close img {
  height: 40px;
  width: 40px;
}

.no-webp .wrapper{
  background: url("../img/images/manage/fons.jpg") center center/cover no-repeat; }

.wrapper {
  height: 570px;
  padding-top: 160px;
}

.container-wrapper {
  width: 1440px;
  margin: 0 auto;
}

.slider {
  width: 583px;
  height: 266px;
  margin: 0 auto;
  text-align: center;
  margin-top: 25px;
  border-radius: 15px;
}

.slider-items {
  width: 583px;
  height: 266px;
}

.slider-items__title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3d4f9f;
}

.slider-items__subtitle {
  padding-top: 16px;
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  color: #3d4f9f;
}

.slider-items__descr {
  padding-top: 28px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #8d96bd;
}

.slider-items__play {
  margin: 0 auto;
  margin-top: 20px;
  width: 52px;
  height: 52px;
  border-radius: 100%;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-items__play:hover {
  cursor: pointer;
}

.wrap-dots {
  margin: 0 auto;
  margin-top: 250px;
  height: 8px;
  width: 48px;
  display: grid;
  grid-template: repeat(1, 8px)/repeat(3, 8px);
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}

.wrap-dot {
  height: 8px;
  width: 8px;
  background: #d1d6e3;
  border: none;
  border-radius: 100%;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

.wrap-dot:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px #5e81fe;
          box-shadow: 0 0 5px #5e81fe;
  background: #5e81fe;
}

.wrap-dot.active {
  background: #5e81fe;
}

.no-webp .manage{
  background: url("../img/images/manage/fons.jpg") center center/cover no-repeat; }

.manage {
  position: relative;
  height: 776px;
  padding-top: 211px;
}

.manage__planshet {
  position: absolute;
  top: 181px;
  left: 786px;
}

.manage__tel {
  position: absolute;
  top: 281px;
  left: 900px;
}

.manage__calen {
  position: absolute;
  top: 337px;
  left: 1260px;
}

.container-manage {
  width: 1110px;
  margin: 0 auto;
}

.manage-wrapper {
  width: 413px;
}

.manage-wrapper__subtitle {
  padding-top: 27px;
}

.manage-wrapper__descr {
  padding-top: 27px;
}

.manage-video {
  margin-top: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.manage-video__video {
  width: 130.08px;
  height: 43px;
  background: #4C85FF;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

.manage-video__video_text {
  margin-right: 6px;
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFFFFF;
}

.manage-video__video:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px #5e81fe;
          box-shadow: 0 0 5px #5e81fe;
}

.manage-video__see {
  background: none;
  width: 130.08px;
  height: 43px;
  border: 1px solid #D1D1E4;
  border-radius: 2px;
}

.manage-video__see span {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ADB4D2;
}

.manage-video__see:hover {
  background: none;
}

.container-apps {
  width: 1201px;
  margin: 0 auto;
  padding-top: 141px;
  position: relative;
}

.apps {
  height: 885px;
}

.apps__title {
  text-align: center;
}

.apps__subtitle {
  padding-top: 20px;
  text-align: center;
}

.apps__img1 {
  position: absolute;
  top: 91px;
  left: 0px;
  z-index: 11;
}

.apps__img2 {
  position: absolute;
  top: 90px;
  left: 30px;
  z-index: 10;
}

.apps__img3 {
  position: absolute;
  top: 600px;
  left: -110px;
  z-index: 10;
}

.apps__img4 {
  position: absolute;
  top: 140px;
  left: 1025px;
  z-index: 10;
}

.apps-files {
  position: relative;
  width: 762px;
  margin: 0 auto;
  margin-top: 92px;
  display: grid;
  grid-template: repeat(1, 254px)/repeat(4, 140px);
  -webkit-column-gap: 67px;
     -moz-column-gap: 67px;
          column-gap: 67px;
}

.apps-files__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.apps-files__items_image {
  width: 69px;
  height: 69px;
  background: #f1f5ff;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.apps-files__text {
  padding-top: 33px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: #4074f8;
}

.apps-files__descr {
  padding-top: 25px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 19px;
  text-align: center;
  color: #adb3cb;
}

.apps-devider {
  position: absolute;
  top: 127px;
  left: 161px;
  display: grid;
  grid-template: repeat(1, 1px)/repeat(3, 28px);
  -webkit-column-gap: 179px;
     -moz-column-gap: 179px;
          column-gap: 179px;
}

.apps-devider__dev {
  width: 28px;
  height: 1px;
  background: #dae4fe;
}

.apps-choise {
  margin: 0 auto;
  margin-top: 92px;
  width: 337px;
  display: grid;
  grid-template: repeat(1, minmax(1px, auto))/repeat(5, minmax(15px, auto));
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.apps-choise__read {
  width: 113px;
  height: 43px;
  background: #ffd7d7;
  border-radius: 2px;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
  border: none;
}

.apps-choise__read span {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #d43f3f;
}

.apps-choise__read:hover {
  cursor: pointer;
  background: #ffd7d7;
  -webkit-box-shadow: 0 0 5px #d43f3f;
          box-shadow: 0 0 5px #d43f3f;
}

.apps-choise__or {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 19px;
  text-align: center;
  color: #adb3cb;
}

.apps-choise__get {
  border: none;
  width: 113px;
  height: 43px;
  background: #d2e1ff;
  border-radius: 2px;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}

.apps-choise__get span {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #3a79ff;
}

.apps-choise__get:hover {
  cursor: pointer;
  background: #d2e1ff;
  border: none;
  -webkit-box-shadow: 0 0 5px #3a79ff;
          box-shadow: 0 0 5px #3a79ff;
}

.apps-choise__devider {
  height: 1px;
  background: #dae4fe;
}

.progres {
  height: 321px;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #6585fe), color-stop(50%, #e0e9ff));
  background: -o-linear-gradient(left, #6585fe 50%, #e0e9ff 50%);
  background: linear-gradient(to right, #6585fe 50%, #e0e9ff 50%);
}

.container-progres {
  width: 700px;
  margin: 0 auto;
}

.progres-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.progres-item {
  margin-top: 66px;
}

.progres-item__images img {
  display: block;
  margin-left: auto;
}

.progres-item__pro {
  padding-top: 24px;
  font-family: "Quicksand", sans-serif;
  font-weight: 100;
  font-size: 48px;
  line-height: 83px;
  text-align: right;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.progres-item__descr {
  width: 260px;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: right;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.progres-item__problue {
  padding-top: 24px;
  font-family: "Quicksand", sans-serif;
  font-weight: normal;
  font-size: 48px;
  line-height: 83px;
  letter-spacing: 0.03em;
  color: #5e80ff;
}

.progres-item__descrblue {
  width: 260px;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: #5e80ff;
}

.blog {
  height: 865px;
  background: #f5f8ff;
}

.blog__title {
  padding-top: 103px;
  text-align: center;
}

.blog__subtitle {
  padding-top: 20px;
  text-align: center;
}

.container-blog {
  width: 1154px;
  margin: 0 auto;
  position: relative;
}

.slider-blog {
  margin: 0 auto;
  margin-top: 92px;
  width: 958px;
  height: 394px;
  background: #ffffff;
  border: 1px solid #d8e3fe;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 15px 50px #eff4ff;
          box-shadow: 0px 15px 50px #eff4ff;
}

.blog-wrapper {
  position: relative;
  padding: 63px 35px;
}

.blog-item {
  height: 267px;
  width: 882px;
}

.blog-wrap {
  display: grid;
  grid-template: repeat(1, 267px)/repeat(1, 407px) 408px;
  -webkit-column-gap: 67px;
     -moz-column-gap: 67px;
          column-gap: 67px;
}

.blog-wrap__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-wrap__imagestwy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-descr__title {
  font-family: "Quicksand", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 45px;
  color: #3d4f9f;
}

.blog-descr__subtitle {
  margin-top: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #8d96bd;
}

.blog-descr__btns {
  margin-top: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.blog-descr__btns_btn {
  margin-right: 8px;
}

.blog-descr__btns_add {
  width: 211px;
  height: 43px;
  background: none;
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
  border-radius: 2px;
}

.blog-descr__btns_add:hover {
  cursor: pointer;
  border: 1px solid #d2e1ff;
}

.blog-descr__btns_add span {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #a6b6da;
}

.blog-dots {
  position: absolute;
  top: 495px;
  left: 455px;
  width: 48px;
  height: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.blog-dot {
  height: 8px;
  width: 8px;
  background: #d1d6e3;
  border-radius: 100%;
  border: none;
  font-size: 0px;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}

.blog-dot:hover {
  cursor: pointer;
  background: #5283ff;
  -webkit-box-shadow: 0 0 5px #5283ff;
          box-shadow: 0 0 5px #5283ff;
}

.blog-dots .slick-active {
  background: #5283ff;
  -webkit-box-shadow: 0 0 5px #5283ff;
          box-shadow: 0 0 5px #5283ff;
}

.blog-prev {
  position: absolute;
  top: 189px;
  left: -98px;
  background: none;
  border: none;
  height: 15;
  width: 23px;
}

.blog-prev:hover {
  cursor: pointer;
}

.blog-next {
  position: absolute;
  top: 189px;
  right: -98px;
  background: none;
  border: none;
  height: 15;
  width: 23px;
  top: 189px;
}

.blog-next:hover {
  cursor: pointer;
}

.testi {
  height: 480px;
  background: -webkit-gradient(linear, left top, left bottom, from(#eaf0ff), to(#f6f9ff));
  background: -o-linear-gradient(top, #eaf0ff 0%, #f6f9ff 100%);
  background: linear-gradient(180deg, #eaf0ff 0%, #f6f9ff 100%);
}

.testi__wrapper {
  padding-top: 109.23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.testi-descr {
  margin-right: 132px;
}

.testi-descr__title {
  margin-top: 37.31px;
}

.testi-descr__subtitle {
  margin-top: 31.06px;
}

.testi-descr__descr {
  width: 333px;
  margin-top: 14.03px;
}

.testi-slider {
  position: relative;
  height: 206.43px;
  width: 423px;
  background: -webkit-linear-gradient(top, #ffffff 86%, #f1f5ff 10%);
}

.testi-slider__descr {
  position: relative;
  height: 206.43px;
  padding: 41.09px 69px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #676f95;
}

.testi-slider__descr_img {
  position: absolute;
  top: 144.3px;
  left: 180px;
}

.testi-dots {
  position: absolute;
  top: 253.56px;
  left: 127px;
  width: 168px;
  height: 8.02;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.testi-dot {
  height: 8px;
  width: 8px;
  background: #d1d6e3;
  border-radius: 100%;
  border: none;
  font-size: 0px;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}

.testi-dot:hover {
  cursor: pointer;
  background: #5283ff;
  -webkit-box-shadow: 0 0 5px #5283ff;
          box-shadow: 0 0 5px #5283ff;
}

.testi-dots .slick-active {
  background: #5283ff;
  -webkit-box-shadow: 0 0 5px #5283ff;
          box-shadow: 0 0 5px #5283ff;
}

.asked {
  height: 964px;
}

.asked-wrapper {
  padding-top: 169px;
  margin: 0 auto;
  width: 734px;
}

.asked-wrapper__title {
  text-align: center;
}

.asked-wrapper__subtitle {
  padding-top: 20px;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #3d4f9f;
}

.asked-spoiler {
  padding-top: 68px;
}

.asked-item__trigger {
  height: 60px;
  width: 743px;
  border-bottom: 1px solid #d8e3fe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.asked-item__trigger_images {
  margin-right: 24px;
}

.asked-item__trigger_descr {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: #8e96b7;
}

.asked-item__content {
  border-top: none;
  display: none;
  height: 60px;
}

.asked-item__content_descr {
  padding-top: 16px;
  padding-left: 80px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #8d96bd;
}

.asked-item:hover {
  cursor: pointer;
}

.asked-spoiler {
  height: 100%;
  padding-top: 60px;
}

.block__item {
  border-bottom: 1px solid #d8e3fe;
}

.block__title {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 2px;
  position: relative;
  padding: 0 0 0 34px;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  display: flex;
  letter-spacing: 0.03em;
  color: #8e96b7;
}

.block__title:before {
  content: "";
  width: 10px;
  height: 2px;
  background: #8e96b7;
  border-radius: 2px 2px 2px 2px;
  position: absolute;
  top: 29px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.block__title:after {
  content: "";
  width: 10px;
  height: 2px;
  background: #8e96b7;
  position: absolute;
  border-radius: 2px 2px 2px 2px;
  top: 29px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 6px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.block__title.active {
  color: #495274;
}

.block__title.active:before {
  background-color: #495274;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  color: #495274;
}

.block__title.active:after {
  background-color: #495274;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.block__text {
  display: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #8d96bd;
  padding-left: 80px;
  padding-bottom: 53px;
}

.started {
  height: 441px;
  background: -o-linear-gradient(220.68deg, #6888ff 12.77%, #5e80ff 73.11%);
  background: linear-gradient(229.32deg, #6888ff 12.77%, #5e80ff 73.11%);
  z-index: -3;
  position: relative;
}

.started__title {
  padding-top: 85px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.started__subtitle {
  padding-top: 16px;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 60px;
  color: #ffffff;
}

.started__descr {
  padding-top: 28px;
  margin: 0 auto;
  width: 712px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 29px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #ffffff;
}

.started__img1 {
  position: absolute;
  top: 15px;
  left: -160px;
}

.started__img2 {
  position: absolute;
  top: 250px;
  left: -100px;
}

.started__img3 {
  position: absolute;
  top: 140px;
  left: 735px;
}

.started-btns {
  width: 284px;
  margin: 0 auto;
  margin-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.started-btns__view {
  width: 130.08px;
  height: 43px;
  background: #ffffff;
  -webkit-box-shadow: 0px 5px 15px #6480e8;
          box-shadow: 0px 5px 15px #6480e8;
  border-radius: 2px;
  border: none;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

.started-btns__view span {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  display: block;
  color: #565f82;
}

.started-btns__view:hover {
  -webkit-box-shadow: 0 0 5px white;
          box-shadow: 0 0 5px white;
  cursor: pointer;
}

.started-btns__read {
  width: 155px;
  height: 43px;
  background: none;
  border: 1px solid #a0b4ff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

.started-btns__read span {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  display: block;
  color: #c7d3ff;
}

.started-btns__read:hover {
  -webkit-box-shadow: 0 0 5px #a0b4ff;
          box-shadow: 0 0 5px #a0b4ff;
  cursor: pointer;
}

.email {
  height: 332px;
}

.email__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 887px;
  margin: auto;
  padding-top: 119px;
}

.email__text {
  width: 330px;
  margin-right: 80px;
}

.email__text_title {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #3d4f9f;
}

.email__text_subtitle {
  margin-top: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #8d96bd;
}

.email-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.email-input__email {
  margin-right: 14px;
  width: 279px;
  height: 59px;
  background: #efeff7;
  border-radius: 5px;
}

.email-input__email input {
  margin: 21px 23px;
  border: none;
  outline: none;
  color: #7a85ad;
  background: none;
}

.email-input__btn {
  width: 184px;
  height: 59px;
  background: #4d6ce1;
  -webkit-box-shadow: 0px 5px 15px rgba(116, 104, 255, 0.2);
          box-shadow: 0px 5px 15px rgba(116, 104, 255, 0.2);
  border-radius: 5px;
  border: none;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

.email-input__btn span {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
}

.email-input__btn:hover {
  -webkit-box-shadow: 0 0 5px #4d6ce1;
          box-shadow: 0 0 5px #4d6ce1;
  cursor: pointer;
}

input[type=email]::-webkit-input-placeholder {
  color: #7a85ad;
}

.footer-nav {
  width: 1206px;
  margin: 0 auto;
}

.footer {
  height: 287px;
  border-top: 1px solid #d8e3fe;
}

.footer__logo {
  margin-right: 73px;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  background: #5e81fe;
}

.footer__copyraght {
  padding-left: 99px;
  margin-top: 28px;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #aeb8d0;
}

.footer-title {
  height: 43px;
  padding-top: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-menu {
  margin-right: 361px;
  display: grid;
  grid-template: repeat(1, 15px)/repeat(5, minmax(15px, auto));
  -webkit-column-gap: 42px;
     -moz-column-gap: 42px;
          column-gap: 42px;
}

.footer-menu__descr {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-shadow: 0px 0px 5px #e6e6e6;
}

.footer-menu__descr a {
  color: #697ca6;
  text-decoration: none;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}

.footer-menu__descr a:hover {
  color: #5e81fe;
}

.footer-social {
  margin-right: 44px;
  width: 156px;
  display: grid;
  grid-template: repeat(1, 17px)/repeat(4, minmax(8.71px, auto));
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-copy {
  display: none;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #aeb8d0;
}

* {
  margin: 0;
  padding: 0;
}

.home-active a {
  color: #5e81fe;
}

.btn {
  width: 113px;
  height: 43px;
  background: #d2e1ff;
  border-radius: 2px;
  border: none;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

.btn span {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #3a79ff;
}

.btn:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px #5e81fe;
          box-shadow: 0 0 5px #5e81fe;
}

.title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3d4f9f;
}

.subtitle {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 48px;
  line-height: 60px;
  color: #3d4f9f;
}

.descr {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #8d96bd;
}

@media (max-width: 1440px) {
  .header-nav {
    max-width: 1201px;
  }

  .container-wrapper {
    max-width: 1201px;
  }

  .container-manage {
    max-width: 1201px;
  }

  .manage__tel {
    left: 455px;
  }

  .manage__planshet {
    left: 340px;
  }

  .manage__calen {
    left: 800px;
  }

  .container-apps {
    max-width: 1201px;
  }

  .apps__img4 {
    left: 991px;
  }

  .container-progres {
    max-width: 1201px;
  }

  .container-blog {
    max-width: 1201px;
  }

  .blog-next {
    right: -89px;
  }

  .blog-prev {
    left: -89px;
  }

  .container-blog {
    max-width: 1201px;
  }

  .testi__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .container-blog {
    max-width: 1201px;
  }

  .container-blog {
    max-width: 1201px;
  }

  .started__img3 {
    left: 654px;
    z-index: -1;
  }

  .container-blog {
    max-width: 1201px;
  }

  .footer-nav {
    max-width: 1201px;
  }
}

@media (max-width: 1200px) {
  .header-nav {
    max-width: 960px;
  }

  .header-title__menu {
    margin-right: 113px;
  }

  .container-wrapper {
    max-width: 960px;
  }

  .container-manage {
    max-width: 960px;
  }

  .manage {
    height: 617px;
    padding-top: 70px;
    z-index: -5;
  }

  .manage__tel {
    top: 193px;
    left: 400px;
    z-index: -2;
  }

  .manage__planshet {
    top: 64px;
    z-index: -3;
    left: 130px;
  }

  .manage__calen {
    z-index: 5;
    top: 50px;
    left: 597px;
  }

  .webp {
    position: relative;
    z-index: -6;
  }

  .container-apps {
    max-width: 960px;
  }

  .apps__img4 {
    left: 763px;
  }

  .container-progres {
    max-width: 960px;
  }

  .container-blog {
    max-width: 960px;
  }

  .blog-dots {
    left: 424px;
  }

  .slider-blog {
    width: 810px;
  }

  .blog-next {
    right: -60px;
  }

  .blog-prev {
    left: -60px;
  }

  .blog-wrap {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    grid-template: repeat(1, 267px)/repeat(1, 407px) 321px;
  }

  .blog-descr {
    width: 332px;
  }

  .blog-descr__title {
    font-size: 33px;
  }

  .blog-descr__subtitle {
    margin-top: 13px;
  }

  .container-blog {
    max-width: 960px;
  }

  .testi-descr {
    margin-right: 25px;
  }

  .testi-descr {
    margin-right: 0px;
  }

  .testi-descr__subtitle {
    font-size: 33px;
  }

  .testi-descr__descr {
    font-size: 14px;
  }

  .container-blog {
    max-width: 960px;
  }

  .container-blog {
    max-width: 960px;
  }

  .started__img3 {
    left: 452px;
  }

  .container-blog {
    max-width: 960px;
  }

  .footer-nav {
    max-width: 960px;
  }

  .footer-menu {
    margin-right: 135px;
  }
}

@media (max-width: 992px) {
  .header-nav {
    max-width: 720px;
  }

  .header-title__menu {
    margin-right: 70px;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    width: 295px;
  }

  .header-title__logo {
    margin-right: 42px;
  }

  .header-title__social {
    margin-right: 10px;
  }

  .container-wrapper {
    max-width: 720px;
  }

  .container-manage {
    max-width: 720px;
  }

  .manage {
    height: 498px;
  }

  .manage__planshet {
    left: 60px;
  }

  .manage__planshet img {
    height: 500px;
    width: 700px;
  }

  .manage__tel {
    top: 186px;
    left: 257px;
  }

  .manage__calen {
    left: 381px;
  }

  .container-apps {
    max-width: 720px;
  }

  .apps__img4 {
    left: 536px;
  }

  .apps-files {
    width: 750px;
    -webkit-column-gap: 53px;
       -moz-column-gap: 53px;
            column-gap: 53px;
  }

  .ccontainer-progres {
    max-width: 720px;
  }

  .container-blog {
    max-width: 720px;
  }

  .slider-blog {
    width: 658px;
  }

  .blog-next {
    right: -23px;
  }

  .blog-prev {
    left: -29px;
  }

  .blog-wrap {
    grid-template: repeat(1, 267px)/repeat(1, 320px) 282px;
  }

  .blog-wrap__photo {
    width: 180px;
    height: 267px;
  }

  .blog-wrap__photo img {
    width: 100%;
    height: 100%;
  }

  .blog-wrapper {
    padding: 62px 22px;
  }

  .blog-descr {
    width: 288px;
  }

  .blog-descr__title {
    font-size: 28px;
  }

  .blog-descr__subtitle {
    margin-top: 0;
    line-height: 25px;
  }

  .blog-dots {
    left: 328px;
  }

  .container-blog {
    max-width: 720px;
  }

  .testi-slider {
    width: 350px;
  }

  .testi-slider__descr {
    width: 280px;
    padding: 41.09px 68px;
    font-size: 13px;
  }

  .testi-slider__descr_img {
    left: 164px;
  }

  .testi-dots {
    top: 241.56px;
    left: 96px;
  }

  .container-blog {
    max-width: 720px;
  }

  .container-blog {
    max-width: 720px;
  }

  .started__img3 {
    left: 221px;
  }

  .container-blog {
    max-width: 720px;
  }

  .email-input__email {
    width: 170px;
  }

  .email-input__btn {
    width: 130px;
  }

  .email__wrapper {
    width: 710px;
  }

  .footer-nav {
    max-width: 720px;
  }

  .footer__logo {
    margin-right: 25px;
  }

  .footer-menu {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
    margin-right: 75px;
  }

  .footer-social {
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .header-nav {
    max-width: 540px;
  }

  .header-title__menu {
    display: none;
  }

  .header-title__logo {
    margin-right: 220px;
  }

  .header-title__social {
    width: 115px;
    margin-right: 25px;
  }

  .header-title__btn {
    width: 105px;
  }

  .hum {
    display: block;
  }

  .humburger {
    right: 24px;
  }

  .container-wrapper {
    max-width: 540px;
  }

  .slider {
    width: 520px;
  }

  .slider-items {
    width: 520px;
  }

  .slider-items__subtitle {
    font-size: 39px;
  }

  .container-manage {
    max-width: 540px;
  }

  .manage {
    height: 415px;
  }

  .manage__tel {
    display: none;
  }

  .manage__planshet {
    display: none;
  }

  .manage__calen {
    display: none;
  }

  .manage-wrapper {
    margin: 0 auto;
  }

  .manage-wrapper__title {
    text-align: center;
  }

  .manage-wrapper__subtitle {
    text-align: center;
  }

  .manage-wrapper__descr {
    text-align: center;
  }

  .manage-video {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 47px;
  }

  .container-apps {
    max-width: 540px;
  }

  .apps-files {
    width: 540px;
    -webkit-column-gap: 0px;
       -moz-column-gap: 0px;
            column-gap: 0px;
    grid-template: repeat(1, 254px)/repeat(4, 135px);
  }

  .apps {
    height: 740px;
  }

  .apps__img4 {
    z-index: -3;
    left: 340px;
  }

  .apps-devider {
    display: none;
  }

  .container-progres {
    max-width: 540px;
  }

  .container-blog {
    max-width: 540px;
  }

  .blog {
    height: 860px;
  }

  .slider-blog {
    width: 449px;
    height: 535px;
  }

  .blog-wrap {
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
    grid-template: repeat(1, 267px) 215px/repeat(1, 402px);
    row-gap: 15px;
  }

  .blog-wrap__photo {
    width: 255px;
  }

  .blog-next {
    right: -31px;
  }

  .blog-prev {
    left: -31px;
  }

  .blog-descr {
    width: 402px;
    position: absolute;
    top: 277px;
  }

  .blog-wrapper {
    height: 535px;
    padding: 20px 22px;
  }

  .slick-list {
    height: 496px;
  }

  .blog-dots {
    top: 549px;
    left: 199px;
  }

  .container-blog {
    max-width: 540px;
  }

  .testi {
    height: 600px;
  }

  .testi__wrapper {
    padding-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .testi-descr__title {
    text-align: center;
  }

  .testi-descr__subtitle {
    text-align: center;
  }

  .testi-descr__descr {
    margin: 0 auto;
    margin-top: 14.03px;
    text-align: center;
  }

  .testi-slider {
    margin: 0 auto;
    margin-top: 20px;
  }

  .testi-slider .slick-list {
    height: 210px;
  }

  .container-blog {
    max-width: 540px;
  }

  .asked-wrapper {
    width: 510px;
  }

  .container-blog {
    max-width: 540px;
  }

  .started__img3 {
    display: none;
  }

  .started__descr {
    width: 500px;
  }

  .started__img2 {
    z-index: -1;
  }

  .started__img1 {
    z-index: -1;
  }

  .container-blog {
    max-width: 540px;
  }

  .email__wrapper {
    padding-top: 90px;
    width: 335px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .email__text_title {
    text-align: center;
  }

  .email__text_subtitle {
    text-align: center;
  }

  .email-input {
    margin-top: 25px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .email-wrapper {
    width: 350px;
  }

  .footer-nav {
    max-width: 540px;
  }

  .footer-social {
    display: none;
  }

  .footer__btn {
    display: none;
  }

  .footer__logo {
    margin-right: 0px;
  }

  .footer__copyraght {
    padding-left: 0;
  }

  .footer-title {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .footer-menu {
    margin-right: 0;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }
}

@media (max-width: 576px) {
  .header-nav {
    max-width: 320px;
  }

  .header-title__btn {
    width: 75px;
  }

  .header-title__btn span {
    font-size: 12px;
  }

  .header-title__social {
    margin-right: 20px;
  }

  .header-title__menu {
    display: none;
  }

  .header-title__logo {
    margin-right: 35px;
  }

  .hum {
    display: block;
  }

  .humburger {
    right: 7px;
  }

  .hum-block {
    right: 0px;
  }

  .hum-close {
    right: 5px;
  }

  .container-wrapper {
    max-width: 320px;
  }

  .slider {
    width: 300px;
  }

  .slider-items {
    width: 300px;
  }

  .slider-items__subtitle {
    font-size: 23px;
    line-height: 22px;
  }

  .slider-items__descr {
    font-size: 12px;
    line-height: 20px;
  }

  .wrap-dots {
    margin-top: 0;
  }

  .container-manage {
    max-width: 320px;
  }

  .manage {
    height: 315px;
  }

  .manage-wrapper {
    width: 310px;
  }

  .manage-wrapper__subtitle {
    font-size: 36px;
    padding-top: 5px;
  }

  .manage-wrapper__descr {
    font-size: 12px;
    line-height: 24px;
    padding-top: 5px;
  }

  .manage-video {
    margin-top: 20px;
  }

  .container-apps {
    max-width: 320px;
  }

  .apps-choise {
    width: 313px;
    -webkit-column-gap: 17px;
       -moz-column-gap: 17px;
            column-gap: 17px;
    margin-top: 20px;
  }

  .apps-choise__read {
    width: 95px;
  }

  .apps-choise__get {
    width: 95px;
  }

  .apps {
    height: 840px;
  }

  .apps__subtitle {
    font-size: 31px;
    padding-top: 0;
  }

  .apps__img4 {
    display: none;
  }

  .apps__img3 {
    z-index: -3;
  }

  .apps-files {
    width: 320px;
    margin-top: 30px;
    grid-template: repeat(2, 254px)/repeat(2, 154px);
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }

  .container-progres {
    max-width: 320px;
  }

  .progres-item__descr {
    font-size: 12px;
    width: 159px;
  }

  .progres-item__problue {
    padding-top: 21px;
  }

  .progres-item__descrblue {
    width: 159px;
    font-size: 12px;
  }

  .container-blog {
    max-width: 320px;
  }

  .blog-wrap {
    grid-template: repeat(1, 267px) 215px/repeat(1, 252px);
  }

  .blog-wrap__photo {
    margin-right: 10px;
    width: 144px;
  }

  .blog-wrap__imagestwy {
    height: 267px;
    width: 100px;
  }

  .blog-wrap__imagestwy_img {
    height: 127px;
  }

  .blog-wrap__imagestwy_img img {
    height: 100%;
  }

  .slider-blog {
    width: 300px;
  }

  .blog-descr {
    width: 255px;
  }

  .blog-descr__title {
    font-size: 26px;
  }

  .blog-descr__subtitle {
    line-height: 22px;
  }

  .blog-descr__btns {
    margin-top: 15px;
  }

  .blog-wrapper {
    height: 575px;
  }

  .slider-blog {
    height: 577px;
  }

  .slick-list {
    height: 535px;
  }

  .blog {
    height: 950px;
  }

  .blog-dots {
    top: 585px;
    left: 130px;
  }

  .blog-next {
    display: none;
  }

  .blog-next img {
    display: none;
  }

  .blog-prev {
    display: none;
  }

  .blog-prev img {
    display: none;
  }

  .container-blog {
    max-width: 320px;
  }

  .testi {
    height: 540px;
  }

  .testi-descr__descr {
    width: 280px;
    font-size: 13px;
  }

  .testi-slider {
    width: 260px;
    height: 200px;
  }

  .testi-slider__descr {
    height: 120px;
    width: 220px;
    text-align: center;
    padding: 20px 52px;
  }

  .testi-slider__descr_img {
    left: 130px;
  }

  .testi-slider .slick-list {
    height: 250px;
  }

  .testi-dots {
    top: 235px;
    left: 47px;
  }

  .container-blog {
    max-width: 320px;
  }

  .asked-wrapper {
    width: 300px;
    padding-top: 80px;
  }

  .block__title {
    font-size: 14px;
  }

  .block__text {
    font-size: 12px;
    line-height: 20px;
  }

  .asked {
    height: 700px;
  }

  .container-blog {
    max-width: 320px;
  }

  .started__subtitle {
    font-size: 36px;
  }

  .started__descr {
    width: 310px;
  }

  .container-blog {
    max-width: 320px;
  }

  .email__wrapper {
    width: 300px;
  }

  .email__text {
    width: 300px;
  }

  .footer-nav {
    max-width: 320px;
  }

  .footer-menu {
    display: none;
  }

  .footer {
    height: 60px;
  }

  .footer__copyraght {
    display: none;
  }

  .footer__logo {
    margin-left: 10px;
  }

  .footer-title {
    padding-top: 10px;
  }

  .footer-copy {
    display: block;
    margin-right: 10px;
  }
}

.webp .owl-carousel .owl-video-play-icon{ background: url(owl.video.play.webp) no-repeat; }

.webp .wrapper{ background: url(../img/images/manage/fons.webp) center center/cover no-repeat; }

.webp .manage{ background: url(../img/images/manage/fons.webp) center center/cover no-repeat; }